* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(70, 27, 70);
}

/* header styles */
header {
    padding: 15px 25px;
    margin: 0;
    background-color: rgb(70, 27, 70);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: rgb(217, 255, 0);
    font-weight: bolder;
    font-size: 65px;
}

header a {
    text-decoration-line: none;
    color: rgb(255, 255, 255);
}

header nav {
    margin-right: 70px;
    padding: 50px 0 0 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-right: 50px;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.50vw;
}

/* pseudo-class hover */
header nav ul li a:hover {
    font-size: 1.60vw;
    color:aquamarine;
}
/* end header styles */

/* background image */
.tech-image {
    height: auto;
    max-width: 100%;
}

/* section-title styles */
.section-title {
    color: aquamarine;
    font-size: 50px;
    text-align: center;
    border-bottom: double 2px tomato;
    margin: 0 300px 20px 300px;
}

/* about me & contact me section styles */
.content {
    background-color: rgb(0, 18, 38);
    border-radius: 25px;
    margin: 40px 80px;
    padding: 20px 40px;
    box-shadow: 0 0 20px rgb(217, 255, 0);
    border: 2px solid rgb(0, 0, .5);
}

/* about me styles */
.about {
    display: flex;
}

.about img {
    margin: 0 50px;
}

.about p {
    font-size: 18px;
    color: white;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 100px 50px 0;
}
/* end about me section */

/* my work section styles */
.work {
    background-image: url("../images/tech.jpg");
    background-size: cover;
    background-position: 100%;
    padding-bottom: 40px;
    border-bottom: 3px solid rgb(0, 18, 38);
    border-top: 3px solid rgb(0, 18, 38);
}

.work-title {
    color: rgb(217, 255, 0);
    padding: 10px 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 50px;
    padding: 0 100px;
    margin: 0 100px;
}

.work-image {
    width: 390px;
    height: 390px;
}

.work-image:hover {
    width: 410px;
    height: 405px;
    transition: 1.5s;
    border: 2px solid white;
}
/* end my work styles */

/* contact me section styles */
.contact-point {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 23px;
}

.contact a {
    color: white;
    text-decoration: none;
}

/* pseudo class hover */
.contact a:hover {
    color: rgb(217, 255, 0);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav {
        padding: 10px 0;
        margin: 0;
    }

    header nav ul {
        margin: 5px 0;
        padding: 0;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .section-title {
        width: 40%;
        margin: 0 225px 20px 225px;
    }

    .about {
        display: block;
        align-items: center;
    }

    .about img {
        margin: 0 225px;
        justify-content: center;
    }

    .about p {
        padding: 10px 0;
        text-align: center;
    }

    .projects {
        padding: 0;
        margin: 0;
    }
}

