* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header styles */
header {
    padding: 15px 25px;
    margin: 0;
    background-color: rgb(70, 27, 70);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: rgb(217, 255, 0);
    font-weight: bolder;
    font-size: 65px;
}

header a {
    text-decoration-line: none;
    color: rgb(255, 255, 255);
}

header nav {
    margin-right: 70px;
    padding: 50px 0 0 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-right: 50px;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.50vw;
}

/* pseudo-class hover */
header nav ul li a:hover {
    font-size: 1.60vw;
    color:aquamarine;
    text-decoration: wavy;
    transition: 1s;
}
/* end header styles */

/* background image */
.hero img {
    max-width: 100%;
    height: auto;
}

/* section styles */
.section-title {
    color: aquamarine;
    font-size: 50px;
    text-align: center;
    border-bottom: double 2px tomato;
    margin: 0 300px 20px 300px;
}

/* about me styles */
.me {
    background-color: rgb(70, 27, 70);
    border-radius: 25px;
    margin: 40px 80px;
    padding: 20px 40px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    margin: 0 1%;
}

.about img {
    margin: 0 50px;
}

.about p {
    font-size: 18px;
    color: white;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 100px 50px 0;
}
/* end about me section */

/* my work section styles */
.work {
    background-image: url("../images/tech.jpg");
    background-size: cover;
    background-position: 100%;
    padding-bottom: 40px;
}

.work-title {
    color: rgb(217, 255, 0);
    padding: 10px 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 50px;
    padding: 0 100px;
    margin: 0 100px;
}

.work-image {
    width: 390px;
    height: 390px;
}

.work-image:hover {
    width: 410px;
    height: 405px;
    transition: 1.5s;
    border: 2px solid white;
}